/* styles3.css */

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f3e8da;
    position: relative;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 40vh; /* Aumentar la altura del contenedor */
    width: 40vw; /* Aumentar el ancho del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.select-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-common {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFA726;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-common:hover {
    background-color: #FFA726;
}

.button-verificar {
    padding: 10px 0.5px; 
    font-size: 18px; /
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
